html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  margin: 0px;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.App {
  padding-bottom: 40px;
}
